# Python virtual environment
venv/
ENV/
env/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Scraper output data
trends.json

# macOS specific files
.DS_Store

# IDEs
.vscode/
.idea/
